<h1>editing  item</h1>

<%= form_for @item do |f| %>

	<p>Название:<br/><%= f.text_field :name %></p>
	<p>Цена:<br/><%= f.text_field :price %></p>
	<p>Описание:<br/><%= f.text_field :description %></p>
	<p>Вес:<br/><%= f.text_field :weight %></p>

	<p><%= f.submit "edit goods" %></p>

<% end %>